@model DigiVault.PortalWWW.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl" data-theme="black">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - DigiVault</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="min-h-screen flex flex-col bg-black justify-center items-center">

    @*GÓRNA CZĘŚĆ - logo*@
    <div class="flex flex-col items-center pb-12">
        <img src="~/images/logoDV.png" alt="DigiVault" class="h-24" />
    </div>

    @*DOLNA CZĘŚĆ - formularz*@
    <div class="flex flex-col items-center pb-8 px-4 w-full">
        <div class="bg-gray-200 rounded-3xl p-8 flex flex-col gap-4 w-full max-w-xs md:max-w-sm lg:max-w-sm">
        
            <h2 class="text-3xl font-bold text-black text-center mb-2">Log in</h2>

            <form asp-controller="Account" asp-action="Login" method="post" class="flex flex-col gap-4">

            <span asp-validation-summary="All" class="text-red-500 text-sm text-center"></span>

            <input asp-for="Email" type="text" placeholder="Email" class="input bg-black text-white text-center placeholder-gray-500 rounded-full w-full font-thin" />
            <span asp-validation-for="Email" class="text-red-500 text-sm text-center"></span>

            <input asp-for="Password" type="password" placeholder="Password" class="input bg-black text-white text-center placeholder-gray-500 rounded-full w-full font-thin" />
            <span asp-validation-for="Password" class="text-red-500 text-sm text-center"></span>

            <button type="submit" class="btn bg-black text-gray-300 rounded-full w-full font-bold text-lg mt-2">Login</button>
        </form>

            <div class="divider divider-neutral before:bg-gray-400 after:bg-gray-400 text-gray-500 text-sm">Or login with</div>

            <div class="flex justify-center gap-4">
                <button class="btn btn-circle btn-outline border-gray-400">
                    <i class="fab fa-google fa-lg text-black"></i>
                </button>
                <button class="btn btn-circle btn-outline border-gray-400">
                    <i class="fab fa-apple fa-xl text-black"></i>
                </button>
            </div>

            <p class="text-center text-sm text-gray-600 mt-2">
                Don't have an account? <a href="/account/register" class="font-bold underline text-black">Sign up</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>